            <section id="content">
            <div class="contact" id="contact">
              <div class="overly"></div>
              <div class="container">
                              <!-- Section Title Start -->
                <div class="row text-center section-title">
                    <div class="col-md-12">
                        <h3>Blog作成</h3>
                        <div class="separator"></div>
                    </div>
                </div> <!-- End of Section Title -->
                           <%= render :partial => "form" %>
              </div>
            </div>
          </section>