<div class="contact" id="contact">
            <div class="overly"></div>
            <div class="container">
                <!-- Section Title Start -->
                <div class="row text-center section-title">
                    <div class="col-md-12">
                        <h3>Thank You !!</h3><br>
                        <p>この度はサロンドコロンにお問い合わせいただき、誠にありがとうございます。<br>お問い合わせいただきました内容を確認後<br>
                        折り返し担当者よりご連絡させていただきます。<br>
                        今しばらくお待ちください。<br>
                        これからも、サロンドコロンを何卒よろしくお願い申し上げます。<br><br>salon de Corron

                        </p>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <%= image_tag ("corron-broch.png")%></div>

                    </div>
                </div> <!-- End of Section Title -->
              </div></div>