@font-face {
  font-family: 'Chantelli';
  src: font-url('Chantelli_Antiqua.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911|Tangerine');
